.message-container {
    flex-grow: 1;
    padding: 1.2rem 2.4rem 0 2.4rem;
    overflow-y: scroll;
    color: white;

    /* width */
    &::-webkit-scrollbar {
        width: 1.5rem;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #7cbafd;
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #7cbafd;
        border-radius: 10px;
    }

    .message {
        font-size: 3rem;
        margin-bottom: 1.6rem; 

        @media only screen and (max-width: 45em) {
            font-size: 2.5rem;
        }
        
        &__user {
            display: flex;
            font-weight: 600;

            &--name {
                margin-right: 10rem;
            }
        }

        &__text {
            margin-top: 1.6rem;
        }
    }
}